/* Background */

.background {
  padding: 10px;
  height: 100vh;
  box-sizing: border-box;
  background-color: #fcfaee;
}

/* HomePageBanner.css */

/* Container styles */
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a5b68d; /* Green background */
  padding: 20px;
  border-radius: 16px;
  height: 10%; /* Adjust the height as needed */
  min-height: 100px; /* Minimum height  because of logo size*/
}

/* Logo styles */
.logo {
  width: 100px; /* Set logo size */
  height: auto;
}

/* Title styles */
.title {
  font-size: 2rem;
  color: #000; /* Black Title */
  text-align: center;
  flex: 1; /* Ensure the title takes up remaining space */
}

/* RecipeBox.css & MainContainer.css */

/* Main container  */
.main-container {
  display: flex;
  width: 100%;
  height: fit-content;
}

/* Recipe list container */
.recipe-box {
  flex-grow: 1; /* Make the main content area grow to fill available space */
  padding: 20px;
  margin: 5px;
  background-color: #fff; /* Light background for the main content */
  color: #2c3e50; /* Text color */
  box-sizing: border-box; /* Ensure padding is included in width */
  border-radius: 16px;
}

/* Sidebar.css */

/* Sidebar container styles */
.sidebar-container {
  width: fit-content;
  background-color: #ecdfcc; /* Default dark background */
  margin: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 75dvh; /* Full viewport height */
  border-radius: 16px;
}

/* Title styles */
.sidebar-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 16px 16px 0 0; /* Rounded top corners */
  font-weight: bold;
  background-color: #cb6040;
}

/* Body styles */
.sidebar-body {
  font-size: 1rem;
  color: #ecdfcc;
  flex-grow: 1; /* Ensure the body takes up remaining space */
}

/* RecipeItem.css */

/* Recipe Item */
.recipe-item {
  padding: 10px;
  margin: 5px;
  background-color: #f9f9f9; /* Light background for recipe items */
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Recipe Img */
.recipe-img {
  width: 50px; /* Set image size */
  height: auto;
  border-radius: 16px;
}
