/* Background */

.background {
  margin: 5px;
  background-color: #ecdfcc;
}

/* HomePageBanner.css */

/* Container styles */
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a5b68d; /* Green background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100px; /* Adjust the height as needed */
}

/* Logo styles */
.logo {
  width: 100px; /* Set logo width */
  height: auto;
  margin-right: 20px; /* Space between logo and title */
}

/* Title styles */
.title {
  font-size: 2rem;
  color: #000; /* White text color for the title */
  text-align: center;
  flex: 1; /* Ensure the title takes up remaining space */
}

/* RecipeBox.css & MainContainer.cc */

/* Main container  */
.main-container {
  display: flex; /* Flexbox layout */
  width: 100%;
  height: 100vh - 100px; /* Full viewport height */
}

/* Recipe list container */
.recipe-box {
  flex-grow: 1; /* Make the main content area grow to fill available space */
  padding: 20px;
  background-color: #ecf0f1; /* Light background for the main content */
  color: #2c3e50; /* Text color */
  box-sizing: border-box; /* Ensure padding is included in width */
}

/* Sidebar.css */

/* Sidebar container styles */
.sidebar-container {
  width: 100px;
  background-color: #fd8b51; /* Default dark background */
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

/* Title styles */
.sidebar-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: #cb6040;
}

/* Body styles */
.sidebar-body {
  font-size: 1rem;
  color: #fd8b51;
}
